 
  <div class="row">
    <!-- <div class="shadow- col-sm-4 p-3"> -->
      <div class="cards">
        <div class="card-img-wrapper">

       
          <img *ngIf="property.Image" class="card-img-top" src="assets/images/{{property.Image }}.jpg" />
       
          <img *ngIf="!property.Image" class="card-img-top" src="assets/images/default-home2.png" />
       
       
          <ul class ="list-inline text-center member-icons animate">
          <li class ="list-inline" > 
            <button class="btn btn-primary" routerLink="/property-detail/{{property.Id}}"><i class="fa-solid fa-pen-to-square"></i></button>
          </li> 
         
          <li class="list-inline-item">
<button class="btn btn-success">
  <i class="fa-solid fa-address-book"></i>
</button>
          </li>
        </ul>
        </div>


        <div class="card-body p-2">
          <h1>{{ property.Type }}</h1>
          <h1>{{ property.Price }}</h1>
          <h1>{{ property.Id }}</h1> 
        </div>
      

          <!-- Card content goes here -->
        </div>
      </div>
    <!-- </div> -->


<!-- 
<div class="row">
   <div class="shadow-lg col-sm-4 p-3">
 
  
  <div class="card">
</div>

</div> -->
