
/* 
.propImg
{
    height: 250px;
   width:250px;
} */


.cards:hover img{
transform: scale(1.1,1.1);
transition-duration: 500ms;
transition-timing-function: ease-out;
/* height:200px; */

/* opacity: .5; */


}
  

.cards img{
    transform: scale(1,1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    
    }
      
.card-img-wrapper{
    overflow:hidden;
    position: relative;
}


.member-icons{
    position: absolute;
    bottom: -30;
    left:0;
    right:0; 
    margin-left: auto;
    margin-right: auto; 
}



.card-img-wrapper:hover .member-icons{
    bottom:0;
}

.animate{
    transition: all 0.3s ease-in-out;

}