<!-- <p>
  add-property works!

  <button (click)="onBack()" class="btn btn-primary">Back</button>
</p> -->

 
<div class="card">
  <div class="card-header">Add new property</div>

<div class="card-body">
  <form (ngSubmit)='onSubmit(Form)' #Form="ngForm">

    <div class="form-group col-12">
      <label for="name">Name</label>
      <input type="text" class="form-control" #propName="ngModel" ngModel name="Name" required minlength="5" >
<span *ngIf="!propName.valid && propName.touched" class="error-block">
  <span *ngIf="propName?.errors?.['required']">please provide name</span>
  <span *ngIf="propName?.errors?.['minlength']">Name must be 5 characters long</span>
</span>

    </div>
    <div class="form-group col-12">
      <label for="type">Type</label>
      <input type="text" class="form-control" ngModel name="Type">
    </div>


    
    <div class="form-group col-12">
      <label for="Price">Price</label>
      <input type="text" class="form-control" ngModel name="Price">
    </div>

    <div class="form-group col-12 mt-2">
      <button type="submit" class="btn btn-primary mr-2">Save</button>
      <||> 

      <button type="reset" class="btn btn-primary">Cancle</button>
    </div>
  </form>
</div>
</div>